# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# Python virtual environment
venv/
env/
.venv/
__pycache__/
*.pyc
*.pyo
*.bat

# dependencies
node_modules/
/.pnp
.pnp.js

# testing
/coverage

# production
/build

# misc
.DS_Store
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Local Netlify folder
.netlify

# IDE
.vscode/
.idea/

# OS
Thumbs.db
scripts/password_reset_report.json
scripts/password_reset_report.csv
